{% extends 'base.html.twig' %}

{% block title %}{{ participant.prenom }} {{ participant.nom }}{% endblock %}

{% block body %}
    <img src="{{ photo }}" class="w-25 me-5 rounded float-start" alt="photo de {{ participant.prenom }} {{ participant.nom }}">
    <br>

    <h4>
    {{ participant.nom }}
    {{ participant.prenom }}
    </h4>
    <br>

    <b>Email : </b>
    {{ participant.email }}
    <br>

    <b>Téléphone : </b>
    {{ participant.telephone }}
    <br>

    <b>Site de rattachement : </b>
    {{ participant.site }}
{% endblock %}
