{% extends 'base.html.twig' %}

{% block title %}Utilisateurs{% endblock %}

{% block titre %}Gérer les utilisateurs{% endblock %}

{% block body %}
    <a href="{{ path('app_participant_ajouter') }}" class="btn btn-success">Ajouter un utilisateur</a>
    <div class="row mt-3">
        {% for utilisateur in utilisateurs %}
            <div class="col-md-6 col-lg-4 mb-3">
                <div class="card h-100">
                    <div class="card-body">
                        <h5 class="card-title">{{ utilisateur.prenom }} {{ utilisateur.nom }}</h5>
                        <p class="card-text"></p>
                        {% if utilisateur.actif == 1 %}
                            <a href="{{ path('app_participant_desactiver', {'utilisateur' : utilisateur.id}) }}" class="btn btn-warning">Désactiver</a>
                        {% else %}
                            <a href="{{ path('app_participant_activer', {'utilisateur' : utilisateur.id}) }}" class="btn btn-success">Activer</a>
                        {% endif %}
                        <a href="{{ path('app_participant_supprimer', {'utilisateur' : utilisateur.id}) }}" class="btn btn-danger">Supprimer</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}
