{% extends 'empty_base.html.twig' %}

{% block title %}Se connecter{% endblock %}
{% block titre %}Se connecter{% endblock %}

{% block body %}
    <form method="post">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <label for="username" class="form-label">Email</label>
        <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control mb-3" autocomplete="email" required autofocus>
        <label for="password" class="form-label">Mot de passe</label>
        <input type="password" name="_password" id="password" class="form-control mb-3" autocomplete="current-password" required>
        <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

        <div class="mb-3">
            <input type="checkbox" id="remember" name="_remember_me" class="form-check-input" checked>
            <label for="remember">Rester connecté</label>
        </div>

        <button class="btn btn-primary" type="submit">
            Se connecter
        </button>


        <p>
            <a href="{{ path('app_demande_mot_de_passe_oublie') }}">
                <strong>Mot de passe oublié ?</strong>
            </a>
        </p>

    </form>

{% endblock %}
